@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap");

body {
  margin: 0;
  background: radial-gradient(circle at 50% 50%, #ffde59, #f1b70a);
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #305f72;
  height: 70px;
  width: 100%;
  box-shadow: 0 8px 0px #fff6e5;
  margin-bottom: 8px;
}

.navbar-logo {
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-text {
  font-size: 32px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  color: #f8f5e4;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
  position: -webkit-sticky;
  position: sticky;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #f8f5e4;
}

.navbar-profile-logo {
  align-items: center;
  float: right;
  margin: 0 auto;
  margin-right: 0px;
  height: 50px;
  width: 50px;
}

.navbar-dropdown {
  position: relative;
  display: inline-block;
}

.navbar-dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
}
.navbar-dropdown .dropdown-content a {
  color: black;
}

.navbar-dropdown:hover .dropdown-content {
  display: block;
}

.content {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  background-color: rgba(255, 246, 229, 0.4);
  height: 600px;
  width: 80rem;
  margin-left: auto;
  border-radius: 20px;
  margin-right: auto;

  margin-top: 50px;
  padding: 20px;
}
