@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap");

body {
  margin: 0;
  background: radial-gradient(circle at 50% 50%, #ffde59, #f1b70a);
}

/* Navigation Bar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #305f72;
  height: 70px;
  width: 100%;
  box-shadow: 0 8px 0px #fff6e5;
  margin-bottom: 8px;
}

.navbar-logo {
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-text {
  font-size: 32px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  color: #f8f5e4;
}

.navbar ul {
  padding: 10px;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
  position: -webkit-sticky;
  position: sticky;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #f8f5e4;
  padding: 5px;
}

/*Still doesn't work, pls help huhu*/
a:hover:not(.navbar-profile),
a.hover:not(.navbar-profile-logo) {
  background: #f8f5e4;
  color: #305f72;
  padding: 5px;
  border-radius: 5px;
  transition: transform 0.5s;
}

.navbar-profile {
  align-items: center;
  margin-left: 40px;
  text-align: center;
  padding: 10px 20px;
  height: auto;
  width: 100px;
  background-color: #f8f5e4;
  border-radius: 50px;
  color: #305f72;
  transition: 0.5s;
}

.navbar-profile:hover {
  background-color: #f1b70a;
  color: #f8f5e4;
}

.navbar-profile-logo {
  align-items: center;
  float: right;
  margin: 0 auto;
  margin-right: 0px;
  height: 50px;
  width: 50px;
}

.navbar-dropdown {
  /* position: relative;
  display: inline-block;
  margin-right: 20px; */
  display: none;
  position: relative;
  z-index: 1;
}

.navbar-dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
}
.navbar-dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.navbar-dropdown:hover .dropdown-content {
  display: block;
}

.content {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  background-color: rgba(255, 246, 229, 0.4);
  height: 600px;
  width: 60rem;
  margin-left: auto;
  border-radius: 20px;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding: 20px;
}

.entry,
.authentication {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  height: 550px;
  flex-basis: 53%;
  border-radius: 10px;
}

.entry {
  background-color: #305f72;
  margin-right: 10px;
  margin-left: 20px;
  flex-basis: 40%;
}

.authentication {
  background-color: #086e7d;
  margin-left: 10px;
  margin-right: 20px;
}

/* Calendar style start here*/
:root {
  --primary-color: #305f72;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
